.main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;}

.product{
    display: flex;
    flex-direction: column;
}
.description{
    width: 20vw;
}

.Image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}